.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 80px;
}

.inputs{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

input, select{
    font-size: 16px;
    margin-top: 8px;
}

input{
    width: 100%;
}

.selects{
    display: flex;
    gap:20px;
}

.label-input{
    display: flex;
    gap: 8px;
    align-items: center;
}

.table_container{
    overflow: auto;
    max-height: 40vh;
}

.img{
    height: 250px;
}

button{
    width: 30%;
    border: none;
    padding: 10px 20px;
    margin: 16px 35%;
    border-radius: 8px;
    font-size: 16px;
    background-color: #0a6cd6;
    color: white;
}