*{
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}

header, footer {
    width: 100%;
    background-color: #555555;
    height: 80px;
    position: relative;
    color:white;
}

.logo{
    height: 80px;
    display: inline-block;
    float: left;
}

.logo_container{
    display: block;
}

.logo_container h1{
    display: inline-block;
    float:right;
    margin: 20px 20px;
}

.inner_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation{
    list-style: none;
    padding: 28px 0;
}
.navigation li{
    display: inline-block;
    margin: 0 15px;
}
.navigation li a{
    text-decoration: none;
    color: white;
    padding: 5px;
}

.body_image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    height: 250px;
}

.table_header{
    margin-top: 40px;
    text-align: center;
}

.table_linker{
    outline: none;
    text-decoration: none;
    color: black;
}

table tr:hover td{
    background: lavender;
    cursor: pointer;
}


.table_container{
    margin: 20px auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    overflow: auto;
    max-height: 40vh;
}

table{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width:700px;
}
td{
    border: 1px solid #dddddd;
    padding: 5px;
    background: white;
}
th{
    border: 1px solid #62666b;
    background-color: white;
    padding: 5px;
    font-weight: bold;
}

footer {
    position:absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer a{
    margin: 20px;
    cursor: pointer;
    text-decoration: none;
}
li{
    list-style-type: none;
}


header a{
    cursor: pointer;
    outline: none;
    text-decoration: none;
    color: white;
}


