body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}

#u2 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:20px;
  width:179px;
  height:42px;
  display:flex;
  font-family:"PT Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FEFFFF;
}
#u2 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}

#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(180, 238, 245, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PT Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FEFFFF;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:1218px;
  top:22px;
  width:200px;
  height:40px;
  display:flex;
  font-family:"PT Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FEFFFF;
}
#u4 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(180, 238, 245, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PT Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FEFFFF;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:733px;
  top:22px;
  width:200px;
  height:40px;
  display:flex;
  font-family:"PT Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FEFFFF;
}
#u5 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(180, 238, 245, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PT Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FEFFFF;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:976px;
  top:22px;
  width:200px;
  height:40px;
  display:flex;
  font-family:"PT Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FEFFFF;
}
#u6 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}

#u12_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(180, 238, 245, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PT Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FEFFFF;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:22px;
  width:200px;
  height:40px;
  display:flex;
  font-family:"PT Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FEFFFF;
}
#u12 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u51_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:917px;
  height:337px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:501px;
  top:126px;
  width:917px;
  height:337px;
  display:flex;
}
#u51 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u51_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u52_input {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:31px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Обычный", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u52_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:31px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Обычный", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u52_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:31px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Обычный", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u52_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:31px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Обычный", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u52_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:517px;
  width:370px;
  height:31px;
  display:flex;
}
#u52 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u52_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52.hint {
}
#u52_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:31px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52.disabled {
}
#u52_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:31px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52.hint.disabled {
}
#u53_input {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:31px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Обычный", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u53_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:31px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Обычный", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u53_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:913px;
  top:517px;
  width:161px;
  height:31px;
  display:flex;
}
#u53 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:31px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53.disabled {
}
.u53_input_option {
}
#u54_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:855px;
  top:524px;
  width:65px;
  height:29px;
  display:flex;
}
#u54 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u54_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u55_input {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:31px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Обычный", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u55_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:31px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Обычный", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u55_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:1150px;
  top:517px;
  width:166px;
  height:31px;
  display:flex;
}
#u55 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u55_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:31px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55.disabled {
}
.u55_input_option {
}
#u56_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:1096px;
  top:524px;
  width:65px;
  height:29px;
  display:flex;
}
#u56 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u56_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:613px;
  width:699px;
  height:247px;
}
#u58_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:37px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:37px;
  display:flex;
  color:#FFFFFF;
}
#u58 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u58_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:37px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:0px;
  width:397px;
  height:37px;
  display:flex;
  color:#FFFFFF;
}
#u59 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u60_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:37px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:0px;
  width:152px;
  height:37px;
  display:flex;
  color:#FFFFFF;
}
#u60 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u60_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u61_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:37px;
  width:150px;
  height:40px;
  display:flex;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#4B4B4B;
  text-align:left;
}
#u61 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u61_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u62_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:40px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:37px;
  width:397px;
  height:40px;
  display:flex;
}
#u62 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u62_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u63_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:37px;
  width:152px;
  height:40px;
  display:flex;
}
#u63 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u63_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u64_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:34px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:77px;
  width:150px;
  height:34px;
  display:flex;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#4B4B4B;
  text-align:left;
}
#u64 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u64_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u65_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:34px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:77px;
  width:397px;
  height:34px;
  display:flex;
}
#u65 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u65_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u66_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:34px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:77px;
  width:152px;
  height:34px;
  display:flex;
}
#u66 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u66_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:34px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:111px;
  width:150px;
  height:34px;
  display:flex;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#4B4B4B;
  text-align:left;
}
#u67 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u68_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:34px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:111px;
  width:397px;
  height:34px;
  display:flex;
}
#u68 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u68_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u69_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:34px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:111px;
  width:152px;
  height:34px;
  display:flex;
}
#u69 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u69_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:34px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:145px;
  width:150px;
  height:34px;
  display:flex;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#4B4B4B;
  text-align:left;
}
#u70 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u70_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:34px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:145px;
  width:397px;
  height:34px;
  display:flex;
}
#u71 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:34px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:145px;
  width:152px;
  height:34px;
  display:flex;
}
#u72 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:34px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:179px;
  width:150px;
  height:34px;
  display:flex;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#4B4B4B;
  text-align:left;
}
#u73 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:34px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:179px;
  width:397px;
  height:34px;
  display:flex;
}
#u74 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u74_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:34px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:179px;
  width:152px;
  height:34px;
  display:flex;
}
#u75 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u75_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:34px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:213px;
  width:150px;
  height:34px;
  display:flex;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#4B4B4B;
  text-align:left;
}
#u76 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u76_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:34px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:213px;
  width:397px;
  height:34px;
  display:flex;
}
#u77 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:34px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:213px;
  width:152px;
  height:34px;
  display:flex;
}
#u78 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u78_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u79_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:80px;
  background:inherit;
  background-color:rgba(85, 85, 85, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:transparent;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:80px;
  display:flex;
  color:transparent;
}
#u79 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u79_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u80_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PT Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FEFFFF;
  text-align:center;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:20px;
  width:179px;
  height:42px;
  display:flex;
  font-family:"PT Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FEFFFF;
  text-align:center;
}
#u80 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u80_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u81_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:80px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:80px;
  display:flex;
}
#u81 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u81_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u82_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(180, 238, 245, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PT Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FEFFFF;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:1261px;
  top:20px;
  width:200px;
  height:40px;
  display:flex;
  font-family:"PT Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FEFFFF;
}
#u82 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u82_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u83_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(180, 238, 245, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PT Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FEFFFF;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:776px;
  top:20px;
  width:200px;
  height:40px;
  display:flex;
  font-family:"PT Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FEFFFF;
}
#u83 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u83_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u84_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(180, 238, 245, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PT Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FEFFFF;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:1019px;
  top:20px;
  width:200px;
  height:40px;
  display:flex;
  font-family:"PT Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FEFFFF;
}
#u84 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u84_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u85_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(180, 238, 245, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PT Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FEFFFF;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:20px;
  width:200px;
  height:40px;
  display:flex;
  font-family:"PT Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FEFFFF;
}
#u85 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u85_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u86_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:80px;
  background:inherit;
  background-color:rgba(85, 85, 85, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:transparent;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:80px;
  display:flex;
  color:transparent;
}
#u86 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u86_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u87_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PT Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FEFFFF;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:20px;
  width:179px;
  height:42px;
  display:flex;
  font-family:"PT Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FEFFFF;
}
#u87 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u87_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:80px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:80px;
  display:flex;
}
#u88 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u88_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u89_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(180, 238, 245, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PT Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FEFFFF;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:1065px;
  top:20px;
  width:200px;
  height:40px;
  display:flex;
  font-family:"PT Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FEFFFF;
}
#u89 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u89_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u90_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(180, 238, 245, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PT Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FEFFFF;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:20px;
  width:200px;
  height:40px;
  display:flex;
  font-family:"PT Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FEFFFF;
}
#u90 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u90_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u91_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(180, 238, 245, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PT Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FEFFFF;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:823px;
  top:20px;
  width:200px;
  height:40px;
  display:flex;
  font-family:"PT Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FEFFFF;
}
#u91 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u91_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u92_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(180, 238, 245, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PT Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FEFFFF;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:20px;
  width:200px;
  height:40px;
  display:flex;
  font-family:"PT Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FEFFFF;
}
#u92 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u92_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1280px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u51.a {
  left:182px;
  top:140px;
}
#u51_img.a {
}
#u51.a {
  left:182px;
  top:140px;
}
#u51_text.a {
}
#u51 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u52_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:31px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Обычный", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u52_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52.a {
  left:208px;
  top:531px;
}
#u52_input.hint.a {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:31px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Обычный", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u52_div.hint.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52.a.hint {
}
#u52_input.disabled.a {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:31px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Обычный", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u52_div.disabled.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:31px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52.a.disabled {
}
#u52_input.hint.disabled.a {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:31px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Обычный", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u52_div.hint.disabled.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:31px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52.a.hint.disabled {
}
#u53_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:31px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Обычный", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u53_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53.a {
  left:677px;
  top:531px;
}
#u53_input.disabled.a {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:31px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Обычный", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u53_div.disabled.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:31px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53.a.disabled {
}
#u54.a {
  left:619px;
  top:538px;
}
#u54_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u54.a {
  left:619px;
  top:538px;
}
#u54_text.a {
}
#u54 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u55_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:31px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Обычный", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u55_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55.a {
  left:914px;
  top:531px;
}
#u55_input.disabled.a {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:31px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Обычный", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u55_div.disabled.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:31px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55.a.disabled {
}
#u56.a {
  left:860px;
  top:538px;
}
#u56_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u56.a {
  left:860px;
  top:538px;
}
#u56_text.a {
}
#u56 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u57.a {
  left:302px;
  top:679px;
}
#u79.a {
  width:1280px;
}
#u79_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:80px;
  background:inherit;
  background-color:rgba(85, 85, 85, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:transparent;
}
#u79.a {
  width:1280px;
}
#u79_text.a {
}
#u79 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u80.a {
  left:77px;
  top:16px;
  width:193px;
}
#u80_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PT Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FEFFFF;
  text-align:center;
}
#u80.a {
  left:77px;
  top:16px;
  width:193px;
}
#u80_text.a {
}
#u80 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u81.a {
}
#u81_img.a {
}
#u81.a {
}
#u81_text.a {
}
#u81 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u82.a {
  left:841px;
  top:17px;
  width:155px;
  height:46px;
}
#u82_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:46px;
  background:inherit;
  background-color:rgba(180, 238, 245, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PT Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FEFFFF;
}
#u82.a {
  left:841px;
  top:17px;
  width:155px;
  height:46px;
}
#u82_text.a {
}
#u82 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u83.a {
  left:517px;
  width:133px;
}
#u83_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:40px;
  background:inherit;
  background-color:rgba(180, 238, 245, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PT Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FEFFFF;
}
#u83.a {
  left:517px;
  width:133px;
}
#u83_text.a {
}
#u83 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u84.a {
  left:679px;
  width:133px;
}
#u84_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:40px;
  background:inherit;
  background-color:rgba(180, 238, 245, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PT Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FEFFFF;
}
#u84.a {
  left:679px;
  width:133px;
}
#u84_text.a {
}
#u84 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u85.a {
  left:356px;
  width:133px;
}
#u85_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:40px;
  background:inherit;
  background-color:rgba(180, 238, 245, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PT Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FEFFFF;
}
#u85.a {
  left:356px;
  width:133px;
}
#u85_text.a {
}
#u85 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u86.a {
}
#u86_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:80px;
  background:inherit;
  background-color:rgba(85, 85, 85, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:transparent;
}
#u86.a {
}
#u86_text.a {
}
#u86 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u87.a {
}
#u87_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PT Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FEFFFF;
}
#u87.a {
}
#u87_text.a {
}
#u87 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u88.a {
}
#u88_img.a {
}
#u88.a {
}
#u88_text.a {
}
#u88 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u89.a {
}
#u89_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(180, 238, 245, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PT Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FEFFFF;
}
#u89.a {
}
#u89_text.a {
}
#u89 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u90.a {
}
#u90_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(180, 238, 245, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PT Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FEFFFF;
}
#u90.a {
}
#u90_text.a {
}
#u90 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u91.a {
}
#u91_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(180, 238, 245, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PT Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FEFFFF;
}
#u91.a {
}
#u91_text.a {
}
#u91 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u92.a {
}
#u92_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(180, 238, 245, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PT Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FEFFFF;
}
#u92.a {
}
#u92_text.a {
}
#u92 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
