# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\my work\TP\biathlon\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

#Logs
logs
*.log
npm-debug.log*
.pnpm-debug.log*
node_modules/