# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\my work\TP\biathlon\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
